<%- include('../templates-chapter3/header') -%>
<body>
  <link rel="stylesheet" href="/assets/css/feature.css">
  
  <div class="container-fluid">
    <div class="row title">
      <div class="col-md-6 offset-md-6">
        <p class="subtitle">What's so special</p>
        <p class="features">FEATURES</p>
        <div class="row">
          <div class="col-md-1">
            <div class="mt-2 garis_verikal"></div>
          </div>
          <div class="col-md-8">
            <p class="text-warning">TRADITIONAL GAMES</p>
            <p class="small"><small>If you miss your childhood, we provide many traditional games here</small></p>
            <p class="text-warning">GAME SUIT</p>
            <p class="text-warning mt-4">TBD</p>
            <a href="http://localhost:3000/chapter3" class="btn btn-danger pl-4 pr-4">Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../templates-chapter3/footer') -%>