<%- include('../templates-chapter3/header') -%>
<body style="background-image: url('assets/images/main-bg.jpg'); width: 100%; height: 100%; background-repeat: no-repeat; position: fixed; background-size: 100%;">
  <link rel="stylesheet" href="/assets/css/main.css">
  
  <nav class="nav navbar-dark bg-dark navbar-expand top-bar static-top pt-2 pb-2" style="opacity: 0.7; position: relative;">
    <a class="nav-link active" href="#" style="margin-right: 16%; margin-left: 5%;">Logo</a>
    
    <div class="dropdown" style="margin-top: -5px;">
      <button style="opacity: 0.7;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Challenge
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="http://localhost:3000/chapter3">Challenge 3</a>
        <a class="dropdown-item" href="http://localhost:3000/chapter4">Challenge 4</a>
        <a class="dropdown-item" href="http://localhost:3000/">Challenge 5</a>
      </div>
    </div>

    <a class="nav-link submenu" href="http://localhost:3000/chapter3">Home</a>
    <a class="nav-link submenu" href="http://localhost:3000/chapter3/pilihangame">Pilihan Game</a>
    <a class="nav-link submenu" href="http://localhost:3000/chapter3/feature">Feature</a>
    <a class="nav-link submenu" href="http://localhost:3000/chapter3/requirement">Requirement</a>
    <a class="nav-link submenu" href="http://localhost:3000/chapter3/top-scores" style="margin-right: 17%;">Top Scores</a>
    <a class="nav-link submenu" href="#" style="text-align: right;">Sign Up</a>
    <a class="nav-link submenu" href="#" style="text-align: right;">Login</a>
  </nav>

  <h1>PLAY THE TRADITIONAL GAME</h1>
  <h3>Experience New Traditional Game</h3>
  <center>
    <a href="http://localhost:3000/chapter3/play-now" class="btn btn-warning" style="padding-left: 10%; padding-right: 10%; padding-top: 5px; padding-bottom: 5px;">Play Now</a>
  </center>

  <%- include('../templates-chapter3/footer') -%>




