<%- include('../templates-chapter3/header') -%>
</head> 
<body>
  <link rel="stylesheet" href="/assets/css/requirements.css">

  <div class="container-fluid">
    <div style="min-height: 18%;"></div>
    <div class="row">
      <div class="col-md-4 offset-md-1">
        <p class="requiremnets">SISTEM REQUIREMENTS</p>
      </div>
      <div class="col-md-4">
        <p class="mt-4 desc">Can my computer run this game?</p>
        <p class="mt-4 desc">Back to <a href="http://localhost:3000/chapter3" class="btn btn-danger pl-4 pr-4">Home</a></p>
      </div>
    </div>
  </div>
  <div style="min-height: 8%;"></div>

  <div class="row">
    <div class="col-md-6 offset-md-1">
      <table>
        <tr>
          <td>
            <p><span class="text-warning"> OS: </span><br> 
            Windows 7 64 bit only <br>
            (No OSX support at this time)
            </p>
          </td>
          <td>
            <p><span class="text-warning"> PROCESSOR: </span><br> 
            Intel Core 2 Duo @ 2.4 GHZ or <br>
            AMD Athlon X2 @ 2.8 GHZ
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="text-warning"> MEMORY: </span><br> 
              4 GB RAM
            </p>
          </td>
          <td>
            <p><span class="text-warning"> STORAGE: </span><br> 
              8 GB available space
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <p><span class="text-warning"> GRAPHICs: </span><br> 
              NVIDIA GeForce GTX 660 2 GB or<br>
              AMD Radeon HD 7850 2 GB DirectX11 (Shader Model 5)
            </p>
          </td>
        </tr>
      </table>
    </div>
  </div>


  
	<%- include('../templates-chapter3/footer') -%>