<%- include('../templates-chapter3/header') -%>
<body>
  <link rel="stylesheet" href="/assets/css/top-scores.css">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 offset-md-1">
        <div style="min-height: 44%;"></div>
        <p class="text-justify score">TOP SCORES</p>
        <p>This top score from various game provided <br> on this platform</p>
        <a href="http://localhost:3000/chapter3/see-more" class="btn btn-warning pl-4 pr-4">see more</a>
        <a href="http://localhost:3000/chapter3" class="btn btn-danger pl-4 pr-4">Back</a>
      </div>
      <div class="col-md-6">
        <div style="min-height: 22%;"></div>
        <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
          <div class="card-body p-2">
            <img src="/assets/images/thumbnail.jpg" class="rounded rounded-circle float-left mr-4" alt="...">
            <p><span class="text-warning">Zuko </span> <br><small class="text-secondary">PC Gamer</small><i class="fab fa-twitter float-right" style="margin-top: -20px; color: rgb(111, 111, 111);"></i></p>
            <div style="clear: both;"></div>
            <p class="card-text" style="margin-bottom: 7px; margin-top: 7px;">"One of my gaming highlights of the year."</p>
            <small class="text-secondary">March 25, 2022</small>
          </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 30rem;  margin-left: -20%;">
          <div class="card-body p-2">
            <img src="/assets/images/thumbnail2.png" class="rounded rounded-circle float-left mr-4" alt="...">
            <p><span class="text-warning">Iroh </span> <br><small class="text-secondary">Creator</small><i class="fab fa-twitter float-right" style="margin-top: -20px; color: rgb(111, 111, 111);"></i></p>
            <div style="clear: both;"></div>
            <p class="card-text">"The next big thing on the world of streaming and survival games."</p>
            <small class="text-secondary">March 25, 2022</small>
          </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
          <div class="card-body p-2">
            <img src="/assets/images/thumbnail3.png" class="rounded rounded-circle float-left mr-4" alt="...">
            <p><span class="text-warning">Sokka </span> <br><small class="text-secondary">Upproxx</small><i class="fab fa-twitter float-right" style="margin-top: -20px; color: rgb(111, 111, 111);"></i></p>
            <div style="clear: both;"></div>
            <p class="card-text">"Snop dog playing the wildly entertaining 'SOS' is ridiculous."</p>
            <small class="text-secondary">March 25, 2022</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  
	<%- include('../templates-chapter3/footer') -%>