body{
  background: url('/assets/images/features.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title{
  margin-top: 17%;
  margin-left: 8%;
}

p{
  color: aliceblue;
}

.back{
  color: whitesmoke;
}

.features{
  font-size: 48px;
  margin-top: -5%;
}

.garis_verikal{
  border-left: 1px white solid;
  height: 85px;
  width: 0px;
}

.small{
  margin-top: -10px;
}